__pycache__/
*.pyc
*.pyo
*.pyd

env/
venv/
ENV/
.VENV/
.venv/

.vscode/

.DS_Store
Thumbs.db

.env

*.log

downloads/

ffmpeg-7.1.1-full_build/
ffmpeg.exe
yt-dlp/
yt-dlp.exe

*.spec
build/
dist/

htmlcov/
.tox/
.nox/
.coverage
.pytest_cache/
.hypothesis/

.ipynb_checkpoints

.idea/
.mypy_cache/
.ruff_cache/
.pyre/
.pytype/

.ropeproject/

*.egg-info/
